body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  flex: 1;
  margin-right: 20px;
}

.wheel-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

canvas {
  /* Убрана рамка */
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}


th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Стиль для студентов, отсутствующих на паре */
tr.inactive {
  opacity: 0.5;
}
