<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>MatStat Lucky Wheel</title>
  <link rel="stylesheet" href="../static/css/mainPage.css">
  <link rel="stylesheet" href="../static/css/popup.css">
  <link rel="stylesheet" href="../static/css/buttons.css">
  <link rel="stylesheet" href="../static/css/rainbowButton.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="centered">
        <h1>MATSTAT LUCKY WHEEL</h1>
        <button id="popup-btn" class="rainbow-button">Мне повезёт</button>
      </div>
    </header>
    <section class="intro">
      <div class="intro-image"></div>
      <p>
        Устали от борьбы за выход к доске на практике по матстату? Колесо фортуны matstat lucky wheel случайно выберет студента, учитывая баллы за практику. Добро пожаловать!
      </p>
    </section>
    <section class="groups">
      <h2>Выбери группу:</h2>
      <ul class="groups-grid">
        <li><a href="/ft-201-1">ФТ-201-1</a></li>
        <li><a href="/ft-201-2">ФТ-201-2</a></li>
        <li><a href="/ft-202-1">ФТ-202-1</a></li>
        <li><a href="/ft-202-2">ФТ-202-2</a></li>
        <li><a href="/ft-203-1">ФТ-203-1</a></li>
        <li><a href="/ft-203-2">ФТ-203-2</a></li>
        <li><a href="/ft-204-1">ФТ-204-1</a></li>
        <li><a href="/ft-204-2">ФТ-204-2</a></li>
        <li><a href="/kn">КН</a></li>
      </ul>
    </section>
  </div>
  <div id="popup-container">
  </div>
  <footer>
    <p>matstat lucky wheel 2025 Все права защищены</p>
  </footer>
  <script src="/static/js/quotes.js"></script>
</body>
</html>