<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Колесо фортуны студентов</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="main-container">
    <div class="table-container">
      <h2>Список студентов</h2>
      <table id="studentsTable">
        <thead>
          <tr>
            <th>Цвет</th>
            <th>Шанс (%)</th>
            <th>Имя</th>
            <th>Нет на паре</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="wheel-container">
      <h1>Колесо фортуны студентов</h1>
      <canvas id="wheelCanvas" width="600" height="600"></canvas>
      <button id="spinButton">Крутить</button>
      <div id="result"></div>
    </div>
  </div>
  <script>
    const students = {{ students | tojson | safe }};
  </script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
